<app-top-nav [isHome] = "false"></app-top-nav>
<app-sliding-cart [opened]="addedToCart" (onClose) = "closeSide($event)"></app-sliding-cart>
<section class="hero is-medium is-link image">
    <div class="hero-body">
      <p class="title">
        Buy Something suspension
      </p>
      <!-- <p class="subtitle">
        Medium subtitle
      </p> -->
    </div>
</section>
<section class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a [routerLink]="[ '/shop' ]">Shop</a></li>
          <li class="is-active"><a href="#" aria-current="page">View Product</a></li>
        </ul>
      </nav>

    <div class="card columns">
        <div class="column media">
            <img src="assets/suspension-part.jpeg" alt="">
        </div>
        <div class="column">
            <h1 class="title">Something Suspension</h1>
            <h2 class="subtitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eligendi quo inventore odio natus ea, dolores sapiente repellat nisi, earum facere quibusdam est voluptas necessitatibus ullam exercitationem ratione id aliquam cum nemo pariatur! Enim vel cupiditate voluptatem? Magni, pariatur sunt.
            </h2>

            <h2 class="title is-size-one">Quantity</h2>

            <div class="buttons has-addons">
                <button class="button">-</button>
                <button disabled class="button is-info is-selected">3</button>
                <button class="button">+</button>
            </div>
            <button class="button is-medium is-primary is-outlined is-fullwidth" (click)="addToCart()">Add To Cart</button>
        </div>
    </div>
</section>
<app-view-main-image *ngIf="openedImage" (onClose)= "closeImage($event)"></app-view-main-image>
