<app-top-nav [isHome] = "true"></app-top-nav>
<!-- <section class="hero is-danger is-fullheight image">
    <div class="hero-body">
      <div class="">
        <p class="title">
          Rover Parts
        </p>
        <p class="subtitle column is-half">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptate architecto earum, debitis, labore adipisci nihil praesentium velit nam, dicta sed minima rerum obcaecati tempore enim saepe ea cumque necessitatibus?
        </p>

        <button class="button is-primary">Shop For Your Rover's Parts</button>
      </div>
    </div>
  </section> -->


  <div class="carousel">
    <div class="hero-body">
      <div class="">
        <p class="title has-text-white">
          Rover Parts
        </p>
        <p class="subtitle column is-half has-text-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptate architecto earum, debitis, labore adipisci nihil praesentium velit nam, dicta sed minima rerum obcaecati tempore enim saepe ea cumque necessitatibus?
        </p>

        <button class="button is-primary" [routerLink]="[ '/shop' ]">Shop For Your Rover's Parts</button>
      </div>
    </div>
    <div class="viewport">
        <div class="slide-container">
          <div class="slide-3">
          </div>
        </div>
        <div class="slide-container">
          <div class="slide-2">
          </div>
        </div>
        <div class="slide-container">
          <div class="slide-1">
          </div>
        </div>
    </div>
  </div>

  <section class="section is-medium">
    <div class="columns">
      <div class="column is-6">
        <div class="back">
          <img src="assets/off-road.svg" alt="" srcset="">
        </div>
      </div>

      <div class="column">
        <h1 class="title">Keep your Rover up to standard</h1>
        <h2 class="subtitle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, ipsam sint numquam quis nihil eligendi nostrum! Ipsum officia suscipit reiciendis. Doloremque quasi quisquam aliquid doloribus id cum porro sit, delectus perspiciatis ipsum voluptate eius tempora laudantium odit facilis voluptatem quo. Dolorum veniam dignissimos possimus deserunt aut veritatis aperiam maiores dolore.
        </h2>
      </div>
    </div> 
  </section>
  <section class="section ">
    <div class="columns">

      <div class="column">
        <h1 class="title">Parts you can trust</h1>
        <h2 class="subtitle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, ipsam sint numquam quis nihil eligendi nostrum! Ipsum officia suscipit reiciendis. Doloremque quasi quisquam aliquid doloribus id cum porro sit, delectus perspiciatis ipsum voluptate eius tempora laudantium odit facilis voluptatem quo. Dolorum veniam dignissimos possimus deserunt aut veritatis aperiam maiores dolore.
        </h2>
      </div>
      <div class="column is-half">
        <div class="back">
          <img src="assets/car.svg" alt="" srcset="">
        </div>
      </div>
    </div> 
  </section>

  <app-view-main-image *ngIf="openedImage" (onClose)= "closeImage($event)"></app-view-main-image>
